<div class="container-fluid mt-3">
  <h4>
    Top Headlines
  </h4>
  <div>
    <input type="search" [(ngModel)]="searchNews" placeholder="Search">
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <app-news-list [data]="data" *ngFor=" let data of topHeadlinesData|paginate:{itemsPerPage: 8, currentPage: page, totalItems: totalNewsPage}
      | filter: searchNews">
    </app-news-list>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
